objective
    
        create stacked bar chart from datafile and horizontal

In [1]:
# imports
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
df = pd.read_csv('C:/Users/eugen/OneDrive/Main_Env/udemy_dash_course/Data/mpg.csv')
df['weight'] = (df['weight'] * 2.2)/1000
df['displacement'] = (df['displacement'] /100)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,3.07,130,7.7088,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,3.50,165,8.1246,11.5,70,1,buick skylark 320
2,18.0,8,3.18,150,7.5592,11.0,70,1,plymouth satellite
3,16.0,8,3.04,150,7.5526,12.0,70,1,amc rebel sst
4,17.0,8,3.02,140,7.5878,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,1.40,86,6.1380,15.6,82,1,ford mustang gl
394,44.0,4,0.97,52,4.6860,24.6,82,2,vw pickup
395,32.0,4,1.35,84,5.0490,11.6,82,1,dodge rampage
396,28.0,4,1.20,79,5.7750,18.6,82,1,ford ranger
397,31.0,4,1.19,82,5.9840,19.4,82,1,chevy s-10

In [17]:
int_columns = [x for x in df.describe().columns.drop(['cylinders', 'model_year', 'origin'])]
# int_columns = int_columns.remove('model_year')
df2 = df[int_columns]

In [31]:
data = [go.Box(y=df2[i],
                   name=i, boxpoints='all', jitter=1, pointpos=-2.0, marker=dict(size=1)) for i in int_columns]

In [32]:
layout = go.Layout(title='Questions',hovermode = 'y')
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'